__pycache__/**
**.pyc

data/artificial_conversations/character_a/**
data/artificial_conversations/character_b/**
data/artificial_conversations/character_a_o/**
data/artificial_conversations/character_b_o/**
data/artificial_conversations/character_a_f/**
data/artificial_conversations/character_b_f/**
**_combined.wav
data/artificial_conversations/songs/**
data/artificial_conversations/episodes/**

data/compressed/**
data/raw/**
data/text/**
data/TracheoSpeech/**
data/regular_speech/**
data/quasi_tracheo/**

**.ckpt
**.pth
artifacts/checkpoint/**

tmp_audio_sample.mp3
tmp_sound.wav

wandb/**