
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #799bda;
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7); /* Gray and slightly transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#passcode-div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
    background-color: #506a9d;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.text-display {
    margin: 20px 0;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 50px;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

audio {
    display: none;
}

.backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

.lineCounter{
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}